body{
    background-color: black;
}



h1 {
    text-align: center;
    border-color: blueviolet;
    border-style: dashed;
    border-width: 4px;
    background-color: black;
}

.p1 {
   
    text-align: center;

}

.p2{
    
   text-align: center;
}